/* You can add global styles to this file, and also import other style files */
body {
  background-color:#efefef;
  color: black;
}

.heading {
  background-color:black;
  color: #efefef;
  padding: 5px;
}
